html,body{margin: 0;padding: 0;width: 100%;height: 100%;background-color: #000000;}
.center{width: 100%;height: 100%;max-width: 750px;margin: 0 auto;}
.room{width: 100%;height: 100%;}
.block{background-color: #ffffff;}
.main-room{

}